---
import Layout from '../layouts/Layout.astro';
import CountdownAstro from '../components/countdown-astro.astro';
import ThemeSelector from '../components/themeSelecter.astro'

---

<Layout title="Welcome to Astro.">
	<main>
		<ThemeSelector />
		<CountdownAstro />
	</main>
</Layout>

<style>
	main {
		background-color: var(--bg-color);
		width: 100dvw;
		height: 100dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	
</style>