---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main >
		<div class="theme-b">
			<h2>Countdown Timer</h2>
			<p>00:00:00</p>
		</div>
	</main>
</Layout>

<style>
	main {
		background-color: #13151a;
		width: 100dvw;
		height: 100dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.theme-b {
		border: 1px solid #fff;
		display: flex;
		flex-direction: column;
		width: 70dvh;
		height: 50dvh;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
	}	
</style>