---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Countdown with pip interaction and view-transitions api" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* Tema Ligth */
  :root {
	--bg-color: #e5f3fb;
    --text-color: #e5f3fb;
    --bg-cont-main: #113b3a;
    --bg-btn: #e5f3fb;
    --txt-btn: #113b3a;
    --bg-btn-hover: #113b3a;
    --txt-btn-hover: #e5f3fb;
    --bg-control: #e5f3fb;
    --txt-control: #113b3a;
    --select-accent: #e5f3fb;
    --input-thum-color: #e5f3fb;
    --input-runnable-color: #113b3a;
    --input-thum-color-border: #113b3a;
    --bg-alarm-p: #113b3a;
    --bg-select: #113b3a;
    --select-txt-color: #e5f3fb;
    --txt-option: #e5f3fb;
  }

  /* Tema oscuro */
  [data-theme="dark"] {
    --bg-color: #05051c;
    --text-color: #05051c;
    --bg-cont-main: #b1be90;
    --bg-btn: #05051c;
    --txt-btn: #b1be90;
    --bg-btn-hover: #b1be90;
    --txt-btn-hover: #05051c;
    --bg-control: #05051c;
    --txt-control: #b1be90;
    --select-accent: #05051c;
    --input-thum-color: #05051c;
    --input-runnable-color: #b1be90;
    --input-thum-color-border: #b1be90;
    --bg-alarm-p: #b1be90;
    --bg-select: #b1be90;
    --select-txt-color: #05051c;
    --txt-option: #05051c;
  }

  /* Tema rojo */
  [data-theme="red"] {
	--bg-color: #f31d21;
    --text-color: #f31d21;
    --bg-cont-main: #06000c;
    --bg-btn: #f31d21;
    --txt-btn: #06000c;
    --bg-btn-hover: #06000c;
    --txt-btn-hover: #f31d21;
    --bg-control: #f31d21;
    --txt-control: #06000c;
    --select-accent: #f31d21;
    --input-thum-color: #f31d21;
    --input-runnable-color: #06000c;
    --input-thum-color-border: #06000c;
    --bg-alarm-p: #06000c;
    --bg-select: #06000c;
    --select-txt-color: #f31d21;
    --txt-option: #f31d21;
  }

  /* Tema azul */
  [data-theme="blue"] {
    --bg-color: #321df4;
    --text-color: #321df4;
    --bg-cont-main: #f3e9ce;
    --bg-btn: #321df4;
    --txt-btn: #f3e9ce;
    --bg-btn-hover: #f3e9ce;
    --txt-btn-hover: #321df4;
    --bg-control: #321df4;
    --txt-control: #f3e9ce;
    --select-accent: #321df4;
    --input-thum-color: #321df4;
    --input-runnable-color: #f3e9ce;
    --input-thum-color-border: #f3e9ce;
    --bg-alarm-p: #f3e9ce;
    --bg-select: #f3e9ce;
    --select-txt-color: #321df4;
    --txt-option: #321df4;
  }

  /* Tema verde */
  [data-theme="green"] {
    --bg-color: #43fa0c;
    --text-color: #43fa0c;
    --bg-cont-main: #06646c;
    --bg-btn: #43fa0c;
    --txt-btn: #06646c;
    --bg-btn-hover: #06646c;
    --txt-btn-hover: #43fa0c;
    --bg-control: #43fa0c;
    --txt-control: #06646c;
    --select-accent: #43fa0c;
    --input-thum-color: #43fa0c;
    --input-runnable-color: #06646c;
    --input-thum-color-border: #06646c;
    --bg-alarm-p: #06646c;
    --bg-select: #06646c;
    --select-txt-color: #43fa0c;
    --txt-option: #43fa0c;
  }

  /* Tema púrpura */
  [data-theme="purple"] {
    --bg-color: color(display-p3 0.97523 0.29652 0.80942);
    --text-color: color(display-p3 0.97523 0.29652 0.80942);
    --bg-cont-main: black;
    --bg-btn: color(display-p3 0.97523 0.29652 0.80942);
    --txt-btn: black;
    --bg-btn-hover: black;
    --txt-btn-hover: color(display-p3 0.97523 0.29652 0.80942);
    --bg-control: color(display-p3 0.97523 0.29652 0.80942);
    --txt-control: black;
    --select-accent: color(display-p3 0.97523 0.29652 0.80942);
    --input-thum-color: color(display-p3 0.97523 0.29652 0.80942);
    --input-runnable-color: black;
    --input-thum-color-border: black;
    --bg-alarm-p: #00000033;
    --bg-select: black;
    --select-txt-color: color(display-p3 0.97523 0.29652 0.80942);
    --txt-option: color(display-p3 0.97523 0.29652 0.80942);
  }

  * {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
  }
  body {
    min-height: 100dvh;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }
  /* view transition */

  :root {
    --expo-in: linear(
      0 0%,
      0.0085 31.26%,
      0.0167 40.94%,
      0.0289 48.86%,
      0.0471 55.92%,
      0.0717 61.99%,
      0.1038 67.32%,
      0.1443 72.07%,
      0.1989 76.7%,
      0.2659 80.89%,
      0.3465 84.71%,
      0.4419 88.22%,
      0.554 91.48%,
      0.6835 94.51%,
      0.8316 97.34%,
      1 100%
    );
    --expo-out: linear(
      0 0%,
      0.1684 2.66%,
      0.3165 5.49%,
      0.446 8.52%,
      0.5581 11.78%,
      0.6535 15.29%,
      0.7341 19.11%,
      0.8011 23.3%,
      0.8557 27.93%,
      0.8962 32.68%,
      0.9283 38.01%,
      0.9529 44.08%,
      0.9711 51.14%,
      0.9833 59.06%,
      0.9915 68.74%,
      1 100%
    );
  }

  /* gif Spiderman */
  [data-theme="purple"]::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
  }

  [data-theme="purple"]::view-transition-new(root) {
    mask: url("https://media.tenor.com/Jz0aSpk9VIQAAAAi/i-love-you-love.gif")
      center / 0 no-repeat;
    animation: scalePurple 1.5s;
  }

  [data-theme="purple"]::view-transition-old(root) {
    animation: scalePurple 1.5s;
  }

  @keyframes scalePurple {
    0% {
      mask-size: 0;
    }
    10% {
      mask-size: 50vmax;
    }
    90% {
      mask-size: 50vmax;
    }
    100% {
      mask-size: 2000vmax;
    }
  }

  /* gift Petalos */
  [data-theme="green"]::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
  }

  [data-theme="green"]::view-transition-new(root) {
    mask: url("https://media.tenor.com/3x24wkGuaiwAAAAj/timboulder-haha.gif")
      center / 0 no-repeat;
    animation: scaleGreen 3.5s;
  }

  [data-theme="green"]::view-transition-old(root) {
    animation: scaleGreen 3.5s;
  }

  @keyframes scaleGreen {
    0% {
      mask-size: 0;
    }
    10% {
      mask-size: 20vmax;
    }
    90% {
      mask-size: 40vmax;
    }
    100% {
      mask-size: 2000vmax;
    }
  }

  /* gif Limpiador */
  [data-theme="red"]::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
  }

  [data-theme="red"]::view-transition-new(root) {
    mask: url("https://media.tenor.com/vhWXa5bVuNAAAAAj/clearing.gif") center /
      0 no-repeat;
    animation: scaleRed 3s;
  }

  [data-theme="red"]::view-transition-old(root) {
    animation: scaleRed 3s;
  }

  @keyframes scaleRed {
    0% {
      mask-size: 0;
    }
    10% {
      mask-size: 35vmax;
    }
    90% {
      mask-size: 35vmax;
    }
    100% {
      mask-size: 2000vmax;
    }
  }

  /* gif Travolta */
  [data-theme="dark"]::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
  }

  [data-theme="dark"]::view-transition-new(root) {
    mask: url("src/components/icons/yH.gif") center / 0 no-repeat;
    animation: scaleDark 1.5s;
  }

  [data-theme="dark"]::view-transition-old(root) {
    animation: scaleDark 1.5s;
  }

  @keyframes scaleDark {
    0% {
      mask-size: 0;
    }
    10% {
      mask-size: 40vmax;
    }
    90% {
      mask-size: 40vmax;
    }
    100% {
      mask-size: 2000vmax;
    }
  }

  /* gif Goku */
  [data-theme="blue"]::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
  }

  [data-theme="blue"]::view-transition-new(root) {
    mask: url("https://media.tenor.com/rWx3fjRwcXIAAAAj/kid-goku.gif") center /
      0 no-repeat;
    animation: scaleBlue 3.5s;
  }

  [data-theme="blue"]::view-transition-old(root) {
    animation: scaleBlue 3.5s;
  }

  @keyframes scaleBlue {
    0% {
      mask-size: 0;
    }
    10% {
      mask-size: 40vmax;
    }
    90% {
      mask-size: 40vmax;
    }
    100% {
      mask-size: 2000vmax;
    }
  }

  /* gif Homero */
  ::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
  }

  ::view-transition-new(root) {
    mask: url("src/components/icons/XSNt.gif") center / 0 no-repeat;
    animation: scaleLigth 3.5s;
  }

  ::view-transition-old(root) {
    animation: scaleLigth 3.5s;
  }

  @keyframes scaleLigth {
    0% {
      mask-size: 0;
    }
    10% {
      mask-size: 40vmax;
    }
    90% {
      mask-size: 40vmax;
    }
    100% {
      mask-size: 2000vmax;
    }
  }
</style>
