---
import { AnimatePresence } from 'framer-motion';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@media (prefers-color-scheme: dark) {
		:root {
			--bg-color: #13151a;
		}

		.theme-b {
			background: #447;
			color: #bbd;
		}

	}
	@media (prefers-color-scheme: light) {
		:root {
			--bg-color: #f0f0f0;
		}
		.theme-b {
			background: #753;
			color: #dcb;
		}
	}
	* {
		box-sizing: border-box;
		position: relative;
		min-width: 0;
	}
	body {
		min-height: 100dvh;
	}
	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	}

	p {
	 text-wrap: pretty;	
	}

	html {
		background-color: var(--bg-color);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
