---
import { AnimatePresence } from 'framer-motion';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

:root {
  --bg-color: white;
  --text-color: black;
}

/* Tema oscuro */
[data-theme='dark'] {
  --bg-color: black;
  --text-color: white;
}

/* Tema rojo */
[data-theme='red'] {
  --bg-color: #ff4d4d;
  --text-color: #330000;
}

/* Tema azul */
[data-theme='blue'] {
  --bg-color: #4d79ff;
  --text-color: #001f4d;
}

/* Tema verde */
[data-theme='green'] {
  --bg-color: #4dff88;
  --text-color: #00331a;
}

/* Tema púrpura */
[data-theme='purple'] {
  --bg-color: #a64dff;
  --text-color: #26004d;
}

	* {
		box-sizing: border-box;
		position: relative;
		min-width: 0;
	}
	body {
		min-height: 100dvh;
		background-color: var(--bg-color);
		color: var(--text-color);
	}
	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	}

	p {
	 text-wrap: pretty;	
	}
</style>
